<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="bitub.sgf.jreality.categoryViews"
            name="%categoryViews.0">
      </category>
      <view
            allowMultiple="false"
            category="bitub.sgf.jreality.categoryViews"
            class="bitub.sgf.jreality.views.JRealityBaseViewPart"
            icon="icons/jreality_logo.png"
            id="bitub.sgf.jreality.views.JRealityBaseViewPart"
            name="%viewJRealitySampleView.0"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:bitub.sgf.jreality.views.JRealityBaseViewPart">
         <command
               commandId="bitub.sgf.jreality.commands.resetCameraPosition"
               icon="icons/house_go.png"
               label="%commandResetViewPosition.0"
               style="push"
               tooltip="%commandResetViewPosition.1">
         </command>
         <command
               commandId="bitub.sgf.jreality.commands.showFaceVertices"
               icon="icons/points.png"
               label="%commandShowPoints.0"
               style="toggle"
               tooltip="%commandShowPoints.1">
         </command>
         <command
               commandId="bitub.sgf.jreality.commands.showFaceEdges"
               icon="icons/lines.png"
               label="%commandShowEdges.0 "
               style="toggle"
               tooltip="%commandShowEdges.1">
         </command>
         <command
               commandId="bitub.sgf.jreality.commands.showFacePolygons"
               icon="icons/faces.png"
               label="%commandShowFace.0"
               style="toggle"
               tooltip="%commandShowFace.1">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/jreality_logo.png"
               label="%commandCategory.0">
            <command
                  commandId="bitub.sgf.jreality.commands.adaptSceneGraphComponent"
                  label="%commandAdaptSceneGraphComponent.0"
                  style="push"
                  tooltip="%commandAdaptSceneGraphComponent.1">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate>
                        <or>
                           <test
                                 property="bitub.sgf.jreality.adapterTester.isAdaptableSceneComponent"
                                 value="true">
                           </test>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="bitub.sgf.jreality.commands.category"
            name="%commandCategory.0">
      </category>
      <command
            categoryId="bitub.sgf.jreality.commands.category"
            description="%commandResetViewPosition.1"
            id="bitub.sgf.jreality.commands.resetCameraPosition"
            name="%commandResetViewPosition.0">
      </command>
      <command
            categoryId="bitub.sgf.jreality.commands.category"
            description="%commandAdaptSceneGraphComponent.1"
            id="bitub.sgf.jreality.commands.adaptSceneGraphComponent"
            name="%commandAdaptSceneGraphComponent.0">
      </command>
      <command
            categoryId="bitub.sgf.jreality.commands.category"
            description="%commandShowEdges.1"
            id="bitub.sgf.jreality.commands.showFaceEdges"
            name="%commandShowEdges.0 ">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="bitub.sgf.jreality.commands.category"
            description="%commandShowPoints.1"
            id="bitub.sgf.jreality.commands.showFaceVertices"
            name="%commandShowPoints.0">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="bitub.sgf.jreality.commands.category"
            description="%commandShowFace.1"
            id="bitub.sgf.jreality.commands.showFacePolygons"
            name="%commandShowFace.0">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="bitub.sgf.jreality.commands.CommandResetPositionAndCameraView"
            commandId="bitub.sgf.jreality.commands.resetCameraPosition">
      </handler>
      <handler
            class="bitub.sgf.jreality.commands.CommandAdaptSceneGraphComponent"
            commandId="bitub.sgf.jreality.commands.adaptSceneGraphComponent">
      </handler>
      <handler
            class="bitub.sgf.jreality.commands.CommandShowFaceEdges"
            commandId="bitub.sgf.jreality.commands.showFaceEdges">
      </handler>
      <handler
            class="bitub.sgf.jreality.commands.CommandShowFaceVertices"
            commandId="bitub.sgf.jreality.commands.showFaceVertices">
      </handler>
      <handler
            class="bitub.sgf.jreality.commands.CommandShowFacePolygons"
            commandId="bitub.sgf.jreality.commands.showFacePolygons">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="bitub.sgf.jreality.adapters.AdapterPropertyTester"
            id="bitub.sgf.jreality.adapterTester"
            namespace="bitub.sgf.jreality.adapterTester"
            properties="isAdaptableSceneComponent"
            type="java.lang.Object">
      </propertyTester>
   </extension>


</plugin>
